html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: #fff;
  font-family: Arial;
  overflow-y: hidden;
}

h1 {
  color: green;
  text-align: center;
}
.player {
  display: grid;
  grid-gap: 3px;  
  grid-template-columns: repeat(3, minmax(100%, 1fr));  
  overflow: hidden;
}

.player section {
  width: 100%;
  position: relative;
  display: grid;
  grid-template-columns: repeat(5, auto);
  margin: 10px 0;
}

.player section .item {
  position: relative;
  padding: 0 2px;
  transition: 250ms all;
}

.player section .item:hover {
  margin: 0 40px;
  transform: scale(1.2);
}

.player section .item .heading {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: #fff;
}

.player section .item .duration {
  position: absolute;
  bottom: 0;
  left: 20px;
  color: #fff;
}

.player section .arrow__btn {
  position: absolute;
  color: #fff;
  text-decoration: none;
  font-size: 6em;
  background: black;
  width: 80px;
  padding: 20px;
  text-align: center;
  z-index: 1;
}

.player section .left-arrow {
  top: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(-90deg, rgba(0, 0, 0, 0) 0%, black 100%);
}

.player section .right-arrow {
  top: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, black 100%);
}

/* Responsive Styles */

@media (max-width: 768px) {
  .player {
    display: grid;
    grid-gap: 4px;  
    grid-template-columns: repeat(4, minmax(100%, 4fr));  
    overflow: hidden;
    overflow-x: auto;
  }

  .player section .item .heading,
  .player section .item .duration {
    font-size: 0.8em;
  }
}